/* General styles */
body{
    background-color: #0a0a0a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}


/* Header styles */
header{
    background-color: #000000;
    color: #7e7e7e;
    padding: 10px 0;
    text-align: left;
}
header .h2{
    padding-left: 300px;
    padding-top: 10px;
    font-size: xx-large;
    text-decoration: none;
    color: #7e7e7e;
    font-size: 44px;
}
header p{
    padding-left: 300px;
    font-size: larger;
    letter-spacing: 10px;
    color: #7e7e7e;
}
.header-divider {
    border: none;
    border-top: 2px solid #7e7e7e;
    width: 70%;
    margin: 8px auto;
}
.header-divider2 {
    border: none;
    border-top: 2px solid #7e7e7e;
    width: 100%;
    margin: 8px auto;
}


/* Main content styles */
.weblink1{
    color: #1a73e8;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}
.weblink1:hover{
    font-size: larger;
    color: #3353ac;
}


/* about me section */
#about{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
}
#about h2{
    text-align: center;
    color: #1c4fda;
    font-size: xx-large;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
#about p{
    font-size: 18px;
    line-height: 1.6;
    color: #7e7e7e;
    text-align: center;
}


/* Course details section */
#course{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
}
#course h2{
    text-align: center;
    color: #1c4fda;
    font-size: xx-large;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
#course p{
    font-size: 18px;
    line-height: 1.6;
    color: #7e7e7e;
    text-align: center;
}


/* Projects section */
#projects{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
}
#projects h2{
    text-align: center;
    color: #1c4fda;
    font-size: xx-large;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
#projects p{
    font-size: 18px;
    line-height: 1.6;
    color: #7e7e7e;
    text-align: center;
}

/* Projects section list items as inline blocks */
#projects ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

#projects ul li {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 35vh;
    margin: 15px;
    background: #030303;
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(24,44,99,0.08);
    list-style: none;
    padding: 20px;
    transition: ease-in-out 0.3s;
    transform-origin: center center;
}
#projects ul li:hover {
    box-shadow: 0 10px 14px rgba(24,44,99,0.15);
    transform: translateY(-8px);
    transform: scale(1.05);
    cursor: default;
}
#projects ul li h3 {
    color: #1c4fda;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;  /* Add padding */
    margin: -20px -20px 5px -20px;  /* Extend to edges */
    border-radius: 8px 8px 0 0;  /* Round top corners */
    background-color: #000000;
    height: 5vh;
}
#projects ul li p {
    font-size: 16px;
    color: #7e7e7e;
    line-height: 1.4;
}
.weblink3{
    color: whitesmoke;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    background-color: #1a73e8;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
}
.weblink3:hover{
    color: #3353ac;
}


/* Contact section */
#contact{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
}
#contact h2{
    text-align: center;
    color: #1c4fda;
    font-size: xx-large;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
#contact p{
    font-size: 18px;
    line-height: 1.6;
    color: #7e7e7e;
    text-align: center;
}
.weblink2{
    color: #1a73e8;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}
.weblink2:hover{
    color: #3353ac;
}


/*Home network section*/
#home-network{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
} 
#home-network h2{
    text-align: center;
    color: #1c4fda;
    font-size: xx-large;
    margin-bottom: 20px;
    letter-spacing: 4px;
}  
#home-network p{
    font-size: 18px;
    line-height: 1.6;
    color: #7e7e7e;
    text-align: center;
}

/*College Network Management section*/
#college-network{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
}
#college-network h2{
    text-align: center;
    color: #1c4fda;
    font-size: xx-large;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
#college-network p{
    font-size: 18px;
    line-height: 1.6;
    color: #7e7e7e;
    text-align: center;
}

/*Experience section*/
#experience{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
}
#experience h2{
    text-align: center;
    color: #1c4fda;
    font-size: xx-large;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
#experience p {
    font-size: 18px;
    line-height: 1.6;
    color: #7e7e7e;
    text-align: left;
}
#experience h3{
    color: #1c4fda;
    font-size: 22px;
    margin-bottom: 10px;
}
#experience h4{
    color: #1c4fda;
    font-size: 18px;
    margin-bottom: 10px;
}
#experience ul {
    padding-left: 20px;
    list-style: none;
}


/* Skills section */
#skills{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
}
#skills h2{
    text-align: center;
    color: #1c4fda;
    font-size: xx-large;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
#skills h5{
    color: #1c4fda;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}
#skills p{
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    text-align:left;
}
#skills ul {
    list-style: none;
    padding: 0;
    padding-left: 30px;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
}
.skillblock {
    display: inline-block;
    background: #030303;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(24,44,99,0.08);
    margin: 15px;
    padding: 15px 25px;
    font-size: 16px;
    color: #7e7e7e;
    width: 40%;
    height: max-content;
}

/*footer styles*/
footer{
    background-color: #182c63;
    color: #7e7e7e;
    text-align: center;
    padding: 5px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    width: 30vh; /* Add fixed width */
    min-width: 30vh; /* Ensure minimum width */
    max-width: calc(25% - 30px); /* Ensure max width with margin */
}

.img {
    width: 100%; /* Change to 100% to fill wrapper */
    height: 40vh; /* Add fixed height */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(24,44,99,0.08);
    margin-bottom: 10px;
    object-fit: cover; /* This will maintain aspect ratio while covering the space */
}

.img-caption {
    text-align: center;
    color: #7e7e7e;
    font-size: 16px;
    margin-top: auto;
    padding-top: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Change to flex-start */
    width: auto;
    margin: 20px 0;
    gap: 20px;
    flex-wrap: wrap; /* Allow wrapping */
}

.btn-container {
    width: 20vh;
    margin: auto;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    color: whitesmoke;
    text-decoration: none;
    background-color: #1a73e8;
    text-align: center;
}
.btn-container:hover {
    background-color: #3353ac;
}
.btn{
    color: whitesmoke;
    text-decoration: none;
}
#gallery{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
}

#gallery h2{
    text-align: center;
    color: #1c4fda;
    font-size: xx-large;
    margin-bottom: 20px;
    letter-spacing: 4px;
}

#gallery p{
    font-size: 18px;
    line-height: 1.6;
    color: #7e7e7e;
    text-align: center;
}

.btn-container2 {
    width: 100%;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
}

.btn2{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    color: whitesmoke;
    font-size: larger;
    text-decoration: none;
    background-color: #030303;
    text-align: center;
    width: 20vh;
    height: 20vh;
    border: none;
    box-shadow: #1a1a1a 0px 2px 4px;
}

.btn2:hover {
    transform: scale(1.05);
    box-shadow: #1a73e8 0px 4px 6px;
}


.network-section{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
}

.network-section2{
    margin: 20px auto;
    max-width: 80%;
    padding: 20px;
}

.network-section h2{
    text-align: center;
    color: #1c4fda;
    font-size: xx-large;
    margin-bottom: 20px;
    letter-spacing: 4px;
}

.network-section2 h3{
    color: #1c4fda;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: left;
}

.network-section p{
    font-size: 18px;
    line-height: 1.6;
    color: #7e7e7e;
    text-align: center;
}

.network-section2 p{
    font-size: 18px;
    line-height: 1.6;
    color: #7e7e7e;
    text-align: left;
}

/** Network section list items   Make into a card to look better!!!  **/

.network-section2 ul {
    padding-left: 20px;
    list-style: none;
}
.network-section2 li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #7e7e7e;
    text-align: left;
}